 *{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

/* NAVBAR */
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    

}

/* LOGO SECTION */
.nav-logo {
    height: 50px;
    width: 100px; 
    
}

.logo {
    background-image: url("https://pngimg.com/uploads/amazon/amazon_PNG25.png"); /* White Text Logo */
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 100%;
    background-position: center;
     
}


.border {
    border: 1.5px solid transparent;
    height: 50px;
    width:100px
}

.border:hover {
    border: 1.5px solid white;
}
.nav-address {
    display: flex;
    flex-direction: column;
    color: antiquewhite;
    height: 50px;
    justify-content: center;
}

.add-first{
    color: #cccccc;
    font-size:0.85rem;
    margin-left: 15px;
}
.add-second{
    font-size: 1rem;
    margin-left:3px;
}
.add-icon{
    display: flex;
    align-items:center
}